In [67]:
import pandas as pd

In [68]:
cd D:\Deep learning\test- Text- Mercato\test

D:\Deep learning\test- Text- Mercato\test

In [69]:
result = pd.read_csv('result.csv')
x_ind = pd.read_csv('X.csv')
Y_dep = pd.read_csv('Y.csv')

In [70]:
print(result)

   a    b    c    f
0  5  Ugh   wq   m3
1  2   Kj  asd  X09
2  3   Yu   Dx   8i
3  4   Po   Cv   Y6

In [71]:
x_ind

   a    b    c
0  5  Ugh   wq
1  2   Kj  asd
2  3   Yu   Dx
3  4   Po   Cv

In [77]:
#due to some key_error need to change the variable name d-to-z
Y_dep= Y_dep.rename(columns={"d": "z"})
Y_dep

   z    e
0  3   8i
1  4   Y6
2  2  X09
3  5   m3

In [78]:
def create_result(x,y):
    merged = pd.merge(x_ind,Y_dep, left_on='a', right_on='z')
    merged = merged.drop(['z'], axis=1)
    merged = merged.rename(columns={"e":"f"})
    print(merged)
    merged.to_csv("resultstable.csv")

In [79]:
My_result = create_result(x_ind, Y_dep)
My_result

print(">>>>>>")

ur_result = result

print(ur_result)

   a    b    c    f
0  5  Ugh   wq   m3
1  2   Kj  asd  X09
2  3   Yu   Dx   8i
3  4   Po   Cv   Y6
>>>>>>
   a    b    c    f
0  5  Ugh   wq   m3
1  2   Kj  asd  X09
2  3   Yu   Dx   8i
3  4   Po   Cv   Y6